<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
    <h3>ch06.Spring Boot</h3>

    <h4>Spring Boot 기본</h4>
    <a href="/ch06/sub1/hello">hello</a>
    <a href="/ch06/sub1/welcome">welcome</a>
    <a href="/ch06/sub1/greeting">greeting</a>

    <h4>Thymeleaf 실습</h4>
    <a href="/ch06/sub2/thymeleaf">thymeleaf</a>

    <h4>User CRUD 실습</h4>
    <a th:href="@{/user1/list}">User1 목록</a> <br>
    <a th:href="@{/user2/list}">User2 목록</a> <br>
    <a th:href="@{/user3/list}">User3 목록</a> <br>
    <a th:href="@{/user4/list}">User4 목록</a> <br>
    <a th:href="@{/user5/list}">User5 목록</a> <br>

</body>
</html>