<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!--
        날짜 : 2025/03/17
        이름 : 김성민
        내용 : Spring JPA 실습
    -->
</head>
<body>
    <h3>Spring JPA</h3>

    <h4>JPA 기본 실습</h4>
    <a th:href="@{/user1/list}">User1 목록</a> <br>
    <a th:href="@{/user2/list}">User2 목록</a> <br>
    <a th:href="@{/user3/list}">User3 목록</a> <br>
    <a th:href="@{/user4/list}">User4 목록</a> <br>
    <a th:href="@{/user5/list}">User5 목록</a> <br>

</body>
</html>